body{
    background-color: rgb(226, 226, 226);
}
.form-control{
    border-radius: 0;
    border:4px solid #ccc;
    border-top:none;
    border-left: none;
    border-right: none;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.column{
    width: 46%;
}
label{
    text-align: center;
}
.creditCardForm .owner{
    width: 100%;
}
.creditCardForm .CVV {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 100%;
}
.year{
    float: right;
}
.creditCardForm .payment select{
    width: 45%;
    border:4px solid #ccc;
    border-top:none;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
    margin-top: -2px;
    margin-right: 0;
}

.creditCardForm #credit_cards{
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;

}
.heading{
    text-align: center;
}
.creditCardForm{
    background-color: rgb(226, 226, 226);
    max-width: 100%;
    padding: 0 25px;
    margin: auto;
}
.backColor{
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}
.creditCardForm .payment .btn{
    width: 30%;
}
.creditCardForm #pay-now{
    text-align: center;
}

.itemInfo{
    height: auto;
    margin: auto 50px;
    margin-top: 50px;
}

.image img{
    max-height: 150px;
    max-width: 200px;
}

.item{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item:first-child{
    border-right: 2px #ccc solid;
}

.itm{
    padding: 30px 100px;
}

.info{
    padding: 20px 10px;
}
.price{
    color: red;
    font-weight: bold;
}

/* Spinner */
.spinner{
    width: 106px;
    display: flex;
    padding: 3px;
    background-color: #ccc;
    margin: 0 auto;
}
.btn{
    padding: 0 7px;
    border:1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 0;
}
.btn:hover{
    cursor:pointer;
}
#value{
    max-width:50px;
    text-align: center;
    background-color: #ccc;
    border: none;
    padding-top: 4px;
}
.minus{
    padding-top: 10px;
}
#minus {
    width: 9px;
    height: 2.3px;
    background: white;
    margin: 0 auto;
}
.minus:hover,.plus:hover{
    opacity: 0.4;
}
.plus:hover{
    color: white;
}
.plus{

    -ms-user-select: none;
    font-size: initial;
    /**
     * Для мозилы
     */
    -moz-user-select: none;

    /**
     * Для конкверора
     */
    -khtml-user-select: none;

    /**
     * Для Сафари и Хрома
     */
    -webkit-user-select: none;
}
/* Spinner */

.label{
    color: black;
    font-size: 90%;
    margin-bottom: 15px;
    display: block;
}
.count, .volume{
    padding-top: 20px;
}
#weight{
    width: 100px;
    height: 31px;
    background-color: #E1E1E1;
    border: none;
    margin-left: 20px;
}
input[type="submit"]{
    border: none;
}
.val{
    margin: 0 auto;
}



#modal_form {
    width: 500px;
    height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
    border-radius: 5px;
    border: 3px #ccc solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 43%; /* пoлoвинa экрaнa слевa */
    margin-top: -150px;
    margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
}

/* Пoдлoжкa */
#overlay {
    z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#000; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
}
#modal_form p{
    font-size: large;
}