body{
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}
header h2{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 1px;
    margin-top: 35px;
    margin-bottom: 14px;
}
.wrap{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.image{
    min-width: 513px;
    max-width: 513px;
    padding-bottom: 15px;
}
img{
    min-width: 513px;
    max-width: 513px;
    max-height: 300px;
}
.formPay{
    width: 240px;
    background-color: white;
    margin-left: 20px;
    height: 321px;
    letter-spacing: -0.5px
}
.formPay h4{
    font-size: 14px;
    margin: 0 16px;
    margin-top: 23px;
    margin-bottom: 13px;
}
form{
    margin: 0 16px;
}
.price{
    color: #a0303b;
    font-weight: 700;
    font-size: 16px;
    display: block;
    margin: 0 16px;
}

label{
    color: black;
    margin-bottom: 15px;
    display: block;
    font-size: 12px;
}
input[type="number"]{
    margin-bottom: 20px;
}
select{
    display: block;
    border: none ;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;

    background-image: url('http://twojprzedstawicielwefrancji.pl/wp-content/uploads/2016/07/Expand-Arrow-48.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 85px;
}
.description{
    width: 513px;
    padding: 15px 0;
    background-color: white;
    margin-bottom: 15px;
}
.description h4{
    margin: 0;
    margin-left: 20px;
    font-size: 16px;
}

.description p{
    font-size: 11px;
    margin: 20px;
}
/* Spinner */
.spinner{
    width: 105px;
    display: flex;
    padding: 4px;
    background-color: #E1E1E1;
}
.btn{
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 0;
    min-width: 25px;
    min-height: 17px;
}
.btn:hover{
    cursor:pointer;
}
#value{
    max-width: 50px;
    text-align: center;
    background-color: #e1e1e1;
    border: none;
    font-size: 15px;
    font-weight: 700;
    padding-top: 4px;
}
.minus{
    padding-top: 8px;
}
#minus {
    width: 9px;
    height: 2px;
    background: white;
    margin: 0 auto;
    margin-top: 4px;
}
.minus:hover,.plus:hover{
    opacity: 0.4;
}
.plus:hover{
    color: white;
}
.plus{
    font-size: 19px;
    min-width: 19px;
    margin-top: -1px;
    padding-left: 7px;
    -ms-user-select: none;
    /**
     * Для мозилы
     */
    -moz-user-select: none;

    /**
     * Для конкверора
     */
    -khtml-user-select: none;

    /**
     * Для Сафари и Хрома
     */
    -webkit-user-select: none;
}
/* Spinner */

.label{
    color: black;
    margin-bottom: 8px;
    display: block;
    font-size: 13px;
}
.count, .volume{
    padding-top: 14px;
}
#weight{
    width: 111px;
    height: 34px;
    background-color: #E1E1E1;
    border: none;
    padding-left: 11px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}
input[type="submit"]{
    border: none;
    width: 100%;
    height: 35px;
    background: limegreen;
    color: WHITE;
    margin-top: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}
#plus{
    width: 9px;
    height: 10px;
    margin: 0 auto;
    margin-top: 7px;
    border-right: 1.4px solid white;
    border-bottom: 1.4px solid white;
}
#plus:after{
    content: "";
}
#plus:before{
    content: "";
}
@media screen and (max-width: 1024px) {
    .wrap{
        width: 80%;
    }
}


@media screen and (max-width: 823px) {
    .image{
        min-width: 513px;
        max-width: 513px;
    }
    img{
        min-width: 513px;
        max-width: 513px;
    }
    .description{
        min-width: 513px;
        max-width: 513px;
    }
    .wrap{
        justify-content: space-around;
    }

    .formPay{
        width: 513px;
        margin-left: 0;
        height: 100%;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
    }
    .count{
        margin-right: 50px;
    }
    input[type="submit"]{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    .image{
        min-width: 100%;
        max-width: 100%;
    }
    img{
        min-width: 100%;
        max-width: 100%;
    }
    .description{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
    .formPay{
        width: 100%;
    }

}