<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CBD COFFEE SHOP CLUB</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<header>
    <h2>CBD COFFEE SHOP CLUB</h2>
</header>
<div class="container">
    <a th:each="item :${itemList}" th:href="'/payment?itemId=' + ${item.id}">
    <div class="item">
        <img alt="" th:src="${item.img}">
        <h4 class="name" th:text="${item.name}"></h4>
        <span class="price" th:text="${#numbers.formatDecimal(item.price,0, 2)}+'€'"></span>
        <p class="description" th:text="${item.description}"></p>
    </div>
    </a>
</div>
<div id="modal_form">
    <p>Payment was successful!</p>
    <br>
</div>
<div id="overlay"></div>
<footer></footer>
</body>
</html>