<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CBD COFFEE SHOP CLUB</title>
    <link rel="stylesheet" href="css/itemStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="/js/script.js"></script>
</head>
<body>
<header>
    <h2 th:text="${item.name}"></h2>
</header>
<div class="wrap">
    <div class="itemInfo">
        <div class="image">
            <img alt="Image" th:src="${item.img}">
        </div>
        <div class="description">
            <h4>DESCRIPTION</h4>
            <p th:text="${item.description}"></p>
        </div>
    </div>
    <div class="formPay">
        <h4 th:text="${item.name}"></h4>
        <span class="price" th:text="${item.price} + ' €'"></span>
        <form action="/payment" method="post">
            <input type="hidden" name="itemId" th:value="${item.id}">
            <div class="count">
                <span class="label">Choisissez la quantité</span>
                <div class="spinner">
                    <div class="btn minus">
                        <div id="minus"></div>
                    </div>
                    <div class="val">
                        <input id="value" name="count" value="1" readonly>
                    </div>
                    <div class="btn plus">
                        +
                    </div>
                </div>
            </div>


            <div class="volume">
                <span class="label">Coisissez le poids</span>
                <select id="weight" name="weight">
                    <!--<option value="1"> 1gr</option>-->
                    <!--<option value="2"> 2gr</option>-->
                    <option value="3"> 3gr</option>
                    <!--<option value="4"> 4gr</option>-->
                    <!--<option value="5"> 5gr</option>-->
                </select>
            </div>
            <input type="submit" value="Acheter des marchandises">
        </form>
    </div>
</div>
<footer></footer>
</body>
</html>