<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="/css/bootstrap.styles.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.payform.js"></script>
    <script src="/js/bootstrapCard.js"></script>
    <script src="/js/script.js"></script>
    <link href="/css/formStyle.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="heading">
            <h1>Paiement</h1>
        </div>
        <div class="itemInfo">
            <div class="backColor itm">
                <div class="item">
                    <div class="image">
                        <img alt="Image" src="https://cdn.shopify.com/s/files/1/0050/4365/0678/products/petite-cosette-2_540x.jpg?v=1528800679">
                    </div>
                    <div class="info">
                        <h4 class="name" th:text="${item.name}"></h4>
                        <span class="price" th:text="'€' + ${#numbers.formatDecimal(item.price,0, 2)}"></span>
                    </div>
                </div>
                <div class="item">
                    <div class="count">
                        <span class="label">Choisissez la quantité</span>
                        <div class="spinner">
                                <!--<div class="btn minus">-->
                                <!--<div id="minus"></div>-->
                                <!--</div>-->
                                <div class="val">
                                <input id="value" value="1" readonly th:value="${item.count}">
                                </div>
                                <!--<div class="btn plus">-->
                                <!--+-->
                                <!--</div>-->
                        </div>    
                    </div>
                    <div class="volume">
                        <span class="label">Coisissez le poids</span>
                        <select id="weight" name="weight">
                            <!--<option value="1"> 1gr</option>-->
                            <!--<option value="2"> 2gr</option>-->
                            <option value="3"> 3gr</option>
                            <!--<option value="4"> 4gr</option>-->
                            <!--<option value="5"> 5gr</option>-->
                        </select>
                    </div>
                </div>
            </div>            
        </div>

        <div class="creditCardForm">
            <div class="payment">
                <form action="/send" method="post">
                    <input type="hidden" name="itemId" th:value="${item.id}">
                    <input type="hidden" name="Amount" th:value="${item.price}">
                    <input type="hidden" name="count" th:value="${item.count}">
                    <div class="backColor">
                        <label>General information</label>
                        <div class="form-group" id="card-number-field">
                            <input name="CardNumber" type="text" class="form-control" id="cardNumber" placeholder="Numéro de carte">
                        </div>
                        <div class="form-group CVV">
                            <input name="CardCVV" type="text" class="form-control" id="cvv" placeholder="CVV (Les trois derniers chiffres au dos de votre carte)">
                        </div>

                            <div class="form-group" id="expiration-date">
                                <label>Date de péremption</label>
                                <select name="CardMonth">
                                    <option value="01">January</option>
                                    <option value="02">February </option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <select class="year" name="CardYear">
                                    <option value="2018"> 2018</option>
                                    <option value="2019"> 2019</option>
                                    <option value="2020"> 2020</option>
                                    <option value="2021"> 2021</option>
                                    <option value="2022"> 2022</option>
                                    <option value="2023"> 2023</option>
                                </select>
                            <div class="form-group owner">
                                <input name="Email" type="text" class="form-control" id="owner" placeholder="Email">
                            </div>
                            <div class="form-group" id="credit_cards">
                                <img src="http://bootstraptema.ru/snippets/form/2017/visa.jpg" id="visa">
                                <img src="http://bootstraptema.ru/snippets/form/2017/mastercard.jpg" id="mastercard">
                                <img src="http://bootstraptema.ru/snippets/form/2017/amex.jpg" id="amex">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="pay-now">
                        <input type="submit" value="Confirm" class="btn btn-default">
                    </div>
                </form>
            </div>
        </div>



    </div>

</div>
<input type="hidden" id="flagError" th:value="${flagError}">
<div id="modal_form">
    <p th:text="${item.message}"></p>
    <br>
    <p class="msg"></p>
</div>
<div id="overlay"></div>
</body>
</html>