<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 th:text="${item.message}"></h2>
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Item</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img th:src="${item.img}" alt="Image"></td>
                <td>
                    <span th:text="${item.name}"></span>
                    <p th:text="${item.description}"></p>
                </td>
                <td>
                    <span>Price </span>
                    <br>
                    <span th:text="${item.price}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>
</div>

<script src="js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>